/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #06d5fa;
    color: #0ddc1e;
}

.container {
    width: 90%;
    max-width: 900px;
    margin: 40px auto;
    background: #f0e6e7;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(236, 228, 228, 0.15);
}

h1 {
    text-align: center;
    color: #0d6e4f;
    margin-bottom: 25px;
}

ol {
    padding-left: 25px;
}

li {
    margin: 10px 0;
    padding: 12px;
    background: #fccb09;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

li:hover {
    background: #0d6e4f;
    color: #f3f8fb;
    transform: translateX(5px);
}

@media (max-width:768px) {
    .container {
        width: 95%;
        padding: 20px;
    }

    h1 {
        font-size: 24px;
    }

    li {
        font-size: 15px;
    }
}
header{
    text-align:center;
    padding:20px;
}

.btn{
    display:block;
    width:100%;
    background:#ffffff;
    color:#000;
    text-decoration:none;
    padding:15px;
    margin:10px 0;
    border-radius:10px;
    font-size:18px;
    font-weight:bold;
    border:1px solid #ddd;
    transition:0.3s;
}

.btn:hover{
    background:#e8f5e9;
    transform:scale(1.02);
}
